{% extends 'ecomm/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-dark my-5">Profile Page</h3>
    <h4 class="text-center alert alert-info mt-3">Welcome {{name}}</h4>
        {% if messages %}
        {% for message in messages%}
            <small{% if message.tags %} class="{{message.tags}}"{% endif %}>
                {{message}}
            </small>
        {% endfor%}
        {% endif %}
        <form action="" method="post" novalidate>
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="er">{{error}}</p>
                {% endfor %}
            {% endif %}

            {% for fm in form %}
                {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
            {% endfor %}

        <input type="submit" value="Save" class="btn btn-success">
        </form> 
        <a href="{% url 'changepass' %}">Change Password</a>
        <br><br>
        <a href="{% url 'changepass1' %}">Change Password without old Password</a>
</div>

{% endblock content %}