{% extends 'ecomm/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h3 class="text-dark my-5">All Users Page</h3>
    <h4 class="text-center alert alert-info mt-3">Show All Users</h4>
    {% if users %}
    <table class="table table-hover bg-white text-dark">
        <thead>
        </thead>
        <tbody>
            <ul>
                {% for user in users %}
                    <li><a href="{% url 'user_details' user.id %}">{{ user.username }}</a></li>
                {% endfor %}
            </ul>
        </tbody>
    </table>
    {% else %}
    <h4 class="text-center alert alert-warning">No Records</h4>
    {% endif %}
</div>

{% endblock content %}